div#page {
	width: 960px;
	margin-left: auto;
	margin-right: auto;	
}
body {
	background: #F2F0A1;
}
header {
	width: 960px;
	display: inline-block;
	margin-top: 15px;
	border-bottom: 15px double #88B04B;
	border-top: 15px double #88B04B;
	text-align: center;
}
h1 {
	width:550px;
	float: left;
	text-align: right;
	font-family: Arial, sans-serif;
}
header ul{
	width:370px;
	float: right;
	margin-top: 30px;
	font-family: "Lucida Console", monospace;
	font-size: 1.15em;
	text-align: right;
}
header ul li{
	display: inline;
	background: #A3CF63;
}
nav {
	width:380px;
	float: right;	
}
section#info {
	width: 960px;
	display: inline-block;
	float: left;
	margin-bottom: 20px;
}
div#info-leftside {
	width:480px;
	float: left;
	text-align: center;
}
img {
	margin-top: 30px;
	width: 60%;
}
div#info-rightside {
	margin: 30px 10px 10px 30px;
	width: 440px;
	float: right;
	font-family: Arial, sans-serif;
}
section#education {
	width: 960px;	
	display: inline-block;
	float: left;
	margin-bottom: 20px;
	font-family: Arial, sans-serif;
}
h2 {
	height: 60px;
	line-height: 60px;
	background-color: #F5F5DC;
	text-align: left;
	border-bottom: 6px solid #ADB0B1;
	border-top: 6px solid #ADB0B1;
	color: #68863A;
}
hr {
	border: 1px solid #ADB0B1;
	background-color: #ADB0B1;
}
div#leftside1, #leftside2, #leftside3, #leftside4{
	width: 480px;
	float: left;
}
div#rightside1, #rightside2, #rightside3, #rightside4 {
	width: 480px;
	float: right;
	text-align: right;
}
section#WorkExperience {
	width: 960px;	
	display: inline-block;
	float: left;
	margin-bottom: 20px;
	font-family: Arial, sans-serif;
}
div#upperside {
	width: 960px;	
	display: inline-block;
	float: left;	
}
section#skills {
	width: 960px;	
	display: inline-block;
	float: left;
	margin-bottom: 40px;
	font-family: Arial, sans-serif;
}
section#hci1, #hci2 {
	width: 960px;	
	display: inline-block;
	float: left;
}
section#hci1-scenario, #hci2-demo{
	width:480px;
	float: left;
}
section#hci1-devEnvironment, #hci2-play{
	width: 440px;
	float: right;
}
video{
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
section#aboutme{
	width: 960px;	
	display: inline-block;
	float: left;
	margin-bottom: 50px;
}
section#aboutme-left{
	width:430px;
	float: left;	
}
section#aboutme-left img{
	width: 430px;
}
section#aboutme-right{
	margin-top: 10px;
	width: 440px;
	float: right;
	font-family: Arial, sans-serif;
	font-size: 1.1em;
}
section#aboutme-right img{
	width: 420px;
}
h3 {
	color: #232521;
}
h4 {
	color: #807E7E;
}
footer{
  font-size: 1em;
  width: auto;
  clear: both;
  background: #A3CF63;
  text-align: center;
  font-family: Arial, sans-serif;
  height: 40px;
  line-height: 40px;
}
