div#page {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	
}
body {
	background: #F2F0A1;
}
header {
	width: 960px;
	display: inline-block;
	margin-top: 15px;
	border-bottom: 25px double #88B04B;
	border-top: 25px double #88B04B;
	text-align: center;
}
h1 {
	width:570px;
	float: left;
	text-align: right;
}
header ul{
	width:350px;
	float: right;
	margin-top: 30px;
}
header ul li{
	display: inline;
}

div#info {
	width: 960px;
	display: inline-block;
	float: left;
	margin-bottom: 20px;
}
div#info-leftside {
	width:480px;
	float: left;
	text-align: center;
}
img {
	margin-top: 30px;
	width: 60%;
}
div#info-rightside {
	margin: 30px 10px 10px 30px;
	width: 440px;
	float: right;
}

div#education {
	width: 960px;
	
	display: inline-block;
	float: left;
}
h2 {
	height: 60px;
	line-height: 60px;
	background-color: #F5F5DC;
	text-align: center;
	border-bottom: 10px solid #ADB0B1;
	border-top: 10px solid #ADB0B1;
}
div#leftside1, #leftside2, #leftside3, #leftside4{
	width: 480px;
	float: left;
}
div#rightside1, #rightside2, #rightside3, #rightside4 {
	width: 480px;
	float: right;
	text-align: right;
}
div#WorkExperience {
	width: 960px;
	
	display: inline-block;
	float: left;
}
div#upperside {
	width: 960px;	
	display: inline-block;
	float: left;
	
}
div#skills {
	width: 960px;	
	display: inline-block;
	float: left;
	margin-bottom: 30px;
}

div#hci1, #hci2 {
	width: 960px;	
	display: inline-block;
	float: left;
}
div#hci1-left, #hci2-left{
	width:480px;
	float: left;
}
div#hci1-right, #hci2-right{
	width: 440px;
	float: right;
}
video{
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
div#aboutme{
	width: 960px;	
	display: inline-block;
	float: left;
}
div#aboutme-left{
	width:430px;
	float: left;	
}
div#aboutme-left img{
	width: 450px;
}
div#aboutme-right{
	margin: 20px 10px 10px 30px;
	width: 440px;
	float: right;	
}
div#aboutme-right img{
	width: 430px;
}
